*{
    box-sizing: border-box;
}
body{
    background-color: #d8d8d8;
}
.container{
    padding: 100px;
    margin: 0 auto;
    width: 1384px;
    position: relative;
    
}

.first{
   position: absolute;
    
}
.f-back{
    width: 512px;
    height: 512px;
    background-color: black;
    position: relative;
}

.text{
    position: absolute;
    left: 101px;
    top: 126px;
}
.flag{
    position: absolute;
    left: 216px;
    top: 343px;
}
.second{
    width: 512px;
    height: 512px;
    background-color: #FFCE22;
    position: absolute;
    left: 541px;
    top: 495px;
}
.s-back{
    position: relative;
}
.gl{
    position: absolute;
    bottom: -99px;
    left: 56px;
}
.third-white{
    width: 512px;
    height: 512px;
    background-color:white;
    position: absolute;
    left: 960px;
    top: 901px;
    z-index: -1;
    padding: 34px;
    border-top: 1px solid #2137FC;
    border-bottom: 1px solid #2137FC;
    box-shadow: 0px 1px 5px rgb(63, 63, 63);

    
}
.s-back{
    position: relative;
    height: 439px;
    width: 442px;
    background-color: #FFCE22;
    border-radius: 250px;
    
}
.thblue{
    position: absolute;
    height: 238px;
    width: 442px;
    
    
    
}
.thglyph{
    width: 358px;
    height: 203px;
    top: 215px;
    left: 45px;
    position: absolute;
}