*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  }
  
  ul li{list-style: none;}
  
  h1,h2,h3,h4,h5,h6{
      margin: 0;
      padding: 0;
  }
  
  a{
      text-decoration: none;
  }
  
  
  body{
      font-family: 'Poppins', sans-serif;
      background-color: #FFFFFF;
  }
  /* =============================================== спільні класи =========================================*/
  .container{
      width: 1270px;
      margin: 0 auto;
  }
  
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  
    .title{
      font-weight: 600;
      font-size: 36px;
      line-height: 120%;
      color: #000000;
    }
  
    .subtitle{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #000000;
    }
  
    .h4{
      font-weight: 600;
      font-size: 27px;
      line-height: 120%;
      color: #000000;
    }
  
    .btn{
   padding: 10px 16px;
    }
  /* =============================================== спільні класи =========================================*/
    header{
      position: sticky;
      top: 0;
      padding: 15px;
      vertical-align: middle;
      z-index: 5;
      background-color: #FFFFFF;
    }
  
    .logo{
      float: left;
      font-weight: 600;
      font-size: 27px;
      line-height: 120%;
      color: #000000;
    }

    .logo:hover{
      color: #0a06ff;
    }
  
    .menu{
      float: right;
      margin: 20.5px 0;
    }
  
    .menu-item{
      font-weight: 500;
      font-size: 21px;
      line-height: 120%;
      color: #000000;
    }

    .menu-item:hover{
      color: #0a06ff;
    }
  
    .menu li{
      float: left;
      margin-right: 24px;
    }
  
    .button{
      float: right;
      border: 1px solid #2203E4;
      margin:  8px 0 0 8px;
      background-color: #FFFFFF;
    }
    .button:hover {
      background-color: #2203E4;
    }
    .button:hover button{
      background-color: #2203E4;
      color: #FFFFFF;
    }
    button{
      font-weight: 500;
      font-size: 21px;
      line-height: 120%;
      color: #2203E4;
      background-color: #FFFFFF;
    }
  
    .landing-title{
      margin: 22px 0 0 0;
    }
  
    .container-title{
      padding: 118px 100px 118px 70px;
    }
  
  .text-block-title{
      float: left;
      width: 595px;
      margin-top: 155px;
  }
  
  .img-block-title{
      float: right;
  }
  
  .title-title{
      font-weight: 700;
      font-size: 47px;
      line-height: 120%;
      color: #000000;
  }
  
  .subtitle-title{
      margin: 24px 0;
  }
  
  .button-title{
      float: left;
      background-color: #0062FF;
      border: 1px solid #0062FF;
  }
  .button-title:hover{
      background-color: #FFFFFF;
  }
  .button-title:hover .button-title-text{
      background-color: #FFFFFF;
      color: #2203E4;
  }
  .button-title-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #FFFFFF;
      background-color: #0062FF;
  }
  
  .btn-title{
      float: left;
      border: 1px solid #575757;
      margin-left: 24px;
  }
  
  .btn-title:hover{
      background-color: #575757;
  }
  .btn-title:hover .btn-title-text{
      background-color: #575757;
      color: #DEA405;
  }
  
  .btn-title-text{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #575757;
  }
  
  .authors-container{
      padding-right: 90px;
      padding-bottom: 137px;
  }
  
  .authors-title{
      text-align: center;
  }
  
  .authors-subtitle{
      margin: 12px auto 36px;
      text-align: center;
      width: 620px;
  
  }
  
  .authors-img{
      float: left;
  }
  .mark-headers-block{
      float: left;
      width: 645px;
      margin: 0 35px;
  }
  
  
  
  .profession{
      font-weight: 500;
      font-size: 21px;
      line-height: 120%;
      color: #575757;
  }
  
  .biography{
      margin: 12px 0 24px 0;
  }
  
  .authors-social a{
      margin-right: 19px;
  }
  
  .job{
      float: right;
  }
  
  .company{
      font-weight: 500;
      font-size: 21px;
      line-height: 120%;
      color: #DEA405;
  }
  
  .profession-job{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #FFBE0B;
  }
  
  .arrow{
      margin: 8px 0;
      position: relative;
  }
  .arrow::before{
      content: url('../img/strelka.png');
      display: block;
      position: absolute;
      left: -20px;
      top: 20px;
  }
  
  .for-who{
      background-color: #0062FF;
      padding: 71px 0;
  }
  
  .for-title{
      text-align: center;
      color: #FFFFFF;
  }
  .for-subtitle{
      text-align: center;
      color: #FFFFFF;
      width: 620px;
      margin: 16px auto 4px;
  }
  .inner-title{
      color: #FFFFFF;
  }
  .inner-subtitle{
      color: #FFFFFF;
      margin-top: 8px;
  }
  .for-inner-text{
      width: 450px;
  }
  .for-column{
      float: left;
  }
  .for-who-column{
      float: right;
  }
  .for-img{
      float: left;
  }
  .for-inner-text{
      float: right;
      margin-left: 34px;
  }
  .for-inner{
      margin-top: 60px;
  }
  .for-button{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #2203E4;
      border: 1px solid #2203E4
  }
  .for-btn{
      text-align: center;
      margin-top: 64px;
  }
  .for-button:hover{
      background-color: #DEA405;
      color: aqua;
  }
  
  .demo-container{
      padding: 70px 90px 130px 80px;
  }
  
  .demo-title{
      text-align: center;
  }
  .demo-subtitle{
      text-align: center;
      margin: 12px auto 44px;
      width: 620px;
  }
  .demo-text-block{
      float: left;
  }
  .demo-img{
      float: right ;
  }
  
  .demo-inner-title{
      text-align: center;
      font-weight: 500;
      font-size: 21px;
      line-height: 120%;
      color: #000000;
  }
  .demo-inner-subtitle{
      text-align: center;
      width: 610px;
      margin: 12px auto 24px;
  }
  .opinions{
      padding: 67px 0;
      background-color: #FFBE0B;
  }
  
  .opinions-container{
      overflow: hidden;
  }
  .opinions-title{
      text-align: center;
  }
  .opinions-subtitle{
      text-align: center;
      margin: 15px auto 42px;
      width: 620px;
  }
  .opinions-card{
      position: relative;
      background-color: #F3F3F3;
      box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
      border-radius: 12px;
      padding: 59.5px 15px 59.5px 75px;
      width: 700px;
      margin: 0 auto;
  }
  .opinions-card::before{
      content: url("../img/before-pic.png");
      position: absolute;
      top: -17px;
      left: -410px;
  }
  .opinions-card::after{
      content: url("../img/after-pic.png");
      position: absolute;
      top: -17px;
      right: -400px;
  }
  .opinions-info{
      margin-top: 16px;
  }
  
  .opinions-name{
      position: relative;
  }
  .opinions-name::before{
      content: url("../img/yellow/2.png");
      display: block;
      position: absolute;
      left: -60px;
      top: 33px;
  }
  
  .opinions-name::after{
      content: url("../img/yellow/3png.png");
      margin-left: 8px;
  }
  .start{
      padding: 89px 0 103px 0;
  }
  
  .start-title{
      text-align: center;
  }
  
  .start-subtitle{
      text-align: center;
      width: 620px;
      margin: 12px auto 74px;
  }
  .start-content{
      width: 950px;
      margin: 0 auto;
  }
  .start-img{
      float: left;
  }
  .start-text-block{
      float: right;
  }
  .start-content-title{
      color: #2203E4;
      position: relative;
      margin-top: 115px;
  }
  .start-content-title::before{
      content: url("../img/99.png");
      position: absolute;
      top: -36px;
  }
  .start-content-subtitle{
      margin: 16px 0;
  }
  .start-button{
      background-color: #0062FF;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #FFFFFF;
      border: 1px solid #0062FF;
  }
  .start-button:hover{
      background-color: #FFFFFF;
      color: #2203E4;
  }
  .start-last-title{
      text-align: center;
      margin: 74px 0 28px 0;
  }
  form{
      text-align: center;
  }
  .email{
      width: 508px;
      padding: 25px;
      background-color: rgba(58, 134, 255, 0.2);
      border-radius: 12px;
  }
  ::placeholder{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #2203E4;
  }
  .form-button{
      width: 508px;
      background-color: #0062FF;
      color: #FFFFFF;
      text-align: center;
      padding: 10px 0;
      border: 1px solid #0062FF;
  }
  .form-button:hover{
      color: #0062FF;
      background-color: #FFFFFF;
  }
  .form-btn{
      margin-top: 14px;
  }