*{
    box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
  
}
h2{
    font-size: 27px;
    font-weight: 600;
}
.container{
  width: 100%;
  }
   
.header-wrap{
  width: 100%;
  background: #E5E5E5;
  position: fixed;
  z-index: 9999;
    
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    float:left; 
    margin: 0 auto 0 12px;
}
.menu{
    float: right;
    display: flex;
	  flex-direction: row;
}
.nav-items {
	text-decoration: none;
	color: black;
	font-weight:500;
	margin-top: 35px;
  margin-right: 24px;
  font-size: 21px;
}
   

   .buy{
    color: #2203E4;
    background-color:#E5E5E5;
    border: 2px solid #2203E4;
    width: 135px;
    height: 45px;
    margin-top: 25px;
    margin-right: 12px;
    margin-left: 10px;
    
   }
   

   .buy a{
    color: #2203E4;
    text-decoration: underline;
    font-size: 21px;
    font-weight: 500;
   }
   .buy a:hover{
    color: #0d0350;
    text-decoration: underline;
   }
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: rgb(46, 45, 45);
    
  }

  .first-block{
  height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  background-color:#E5E5E5;
  padding-top: 223px;
  padding-left: 216px;
  margin: auto;

  }

    h3{
    font-size: 47px;
    font-weight: 700;
    margin: 24px auto;
    padding-top: 122px;
  }
  .text-pic{
    padding-left: 112px;
    padding-bottom: 115px;
  }
  
  .phone{
    padding-left: 52px;
    
  }
  
  p{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 34px;
  }
  .authors-button{
    background-color:  #0062FF;
    width:93px;
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  button>a{
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  button>a:hover{
      color: rgb(0, 0, 0);
      text-decoration: none;
  }
  .check{
    background-color:  #E5E5E5;
    width:135px;
    height: 40px;
    border: 2px solid #575757 ;
    color: #575757;
    font-size: 16px;
    font-weight: 400;
  }
  
  .check>a{
    color: #575757;
  }
  .photos{
    padding-top: 152px;
    padding-bottom: 145px;
    margin: 0 auto;
    height: auto;
  background-color:#E5E5E5;
  }

  h4{
    font-size: 36px;
    font-weight: 600;
    margin: 0 auto;
  }
  .authors>p{
    color: #575757;
    padding-top: 12px;
  }

  .text-center{
    text-align: center;
  }
  .mark-gregory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-left: 131px;
  }
  .mark-gregory{
    position: relative;
  }
  .mark{
    position: absolute;
    left: 327px;
    top: 9px;
    font-size: 27px;
    font-weight: 600;
    margin: 0 auto;
  }
  .graph{
    position: absolute;
    left: 327px;
    top: 40px;
    font-size: 21px;
    font-weight: 500px;
    margin: 0 auto;
    color: #575757;
  }
  .amet{
    position: absolute;
    left: 327px;
    top: 60px;
    margin: 0 auto;
    padding-top: 12px;
    color: #575757;
  }
  .icons{
    position: absolute;
    left: 330px;
    top: 130px;
    padding-top: 16px;
  }
  .arrow{
    position: absolute;
    top: 68px;
    left: 1390px;
  }
  .social{
    margin-left: 19px;
  }
  
  .name-block{
    padding-right: 290px;
    position: relative;
  }
  .gregory{
    font-size: 21px;
    font-weight: 500px;
    color: #DEA405;
    margin: 0 auto;
  }
  .programmer{
    font-size: 16px;
    font-weight: 400;
    color: #FFBE0B;
    margin: 0 auto;
  }
  .mark-head{
    font-size: 27px;
    font-weight: 600;
    color: black;
    margin: 0 auto;
    padding-top: 8px;
  }
  .graphic{
    font-size: 21px;
    font-weight: 500;
    color: #575757;
    margin: 0 auto;
    padding: 0px;
  }
  .henry{
    font-size: 21px;
    font-weight: 500;
    color: #DEA405;
    margin: 0 auto;
    padding-top: 8px;
  }
  .analyst{
    font-size: 16px;
    font-weight: 400;
    color: #FFBE0B;
    margin: 0 auto;
    padding: 0px;
  }
  
  .second-block{
   background-color: #0062FF;
   padding-top: 71px;
   padding-bottom: 81px;
   
  }

  .who-icons{
  display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 64px;
  margin-top: 64px;
 margin-right: 123px;
  position: relative;
 
  }
  .who-text,
  .who{
    color: white;
  }
  .white{
    color: white;
font-weight: 400;
    text-align: center;
  }
  .students{
    display: flex;
    flex-direction: row;
  }
  .student-content{
    display: block;
    margin-left: 34px;
  }
  .agency{
    display: flex;
  }
  .agency-content{
    display: block;
    margin-left: 34px;
  }

  .freelancers{
    display: flex;
  }

  .free-content{
display: block;
margin-left: 34px;
  }


 .marketers{
  display: flex;
 }
 .marketers-content{
  display: block;
  margin-left: 34px;
 }
 
    .agency{
      margin: 46px 0 auto;

    }

    .marketers{
      margin: 46px 0 auto;
      
    }
    .button-want{
      display: flex;
      justify-content: center;
      
    }

    .i-want{
      width: 105px;
      height: 40px;
      border: none;
      color: #2203E4;
      
    }

    .third-block{
  display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background: white;
	height: auto;
  background-color:  #E5E5E5;
  padding-top: 63px;
    }

    .check-content{
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 45px 0 130px 0;
    }
    .check-wrap{
  display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	max-width: 611px;
  margin-right: 48px;
  
    }
    .movie{
      position: relative;
    }
    .play{
      position: absolute;
      top: 119px;
      right: 197px;
    }
   
   .check-demo{
padding: 0px;
font-size: 36px;
font-weight: 600;
margin: 0 auto;
   }
   .demo-text{
    padding-top: 12px;
    color: #575757;
    margin: 0 auto;
   }

   .watch-headers{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
   }

   .video-text{
    text-align: center;
    margin: 12px;
    color: #575757;
   }

   .fourth-block{
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	background: #FFBE0B;
  padding-top: 67px;
   }

   .opinions {
    margin-bottom: 12px;
  }
  .opinion-text {
    margin: 0 0 42px 0;
    color: #575757;
    text-align: center;
  }

  .feedback-wrap{
    display: flex;
    flex-wrap: nowrap;
    
  }

  .window{
    width: 702px;
    height: 230px;
    max-height: 230px;
    background-color: white;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    
    
  }
  .opinions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #FFBE0B;
  }
  
  .opinion-title {
    margin: 67px 0 12px 0;
  }
  .opinions-text {
    margin: 0 0 42px 0;
    color: #575757;
    max-width: 611px;
    text-align: center;
  }
  .feedbacks-list {
    display: flex;
    margin-bottom: 67px;
    height: 230px;
    max-width: 1500px;
    
  }
  .feedback-item {
    width: 700px;
    height: 230px;
    background: #F3F3F3;
    margin: 0 16px;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    
  }
    
  .ba{
    height: 230px;
  }
  .jones-title::before{
    content: url('../img/cloud.png');
  }
  

  .jones{
    display: inline-block;
  }
    
  .stars{
    display: inline-block;
  }
  .feed-content{
    padding-left: 16px;
    padding-top: 60px;
  }
  .ceo{
    margin: 0 auto;
    font-size: 21px;
    font-weight: 500;
    padding-left: 60px;
  }
  .ceo-text{
    margin: 12px 0;
    padding-left: 60px;
  }

  .buy-now {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .buy-now > .title {
    margin: 90px 0 12px 0;
  }
  .buy-text{
    color: #575757;
  }
  .product-content{
    display: flex;
  }
  .product-block{
    display: flex;
    flex-direction: column;
  }
  .stars{
    display: flex;
  }
  .review{
    margin: 0;
  }
  .product-title{
    margin: 0;
    color: #2203E4;
    font-size: 36px;

  }