*{
  box-sizing: border-box;
}
body{
font-size: 23px;
font-family:'Roboto', sans-serif;
background-color: #fff;
}
.wrapper{
  width:940px;
  margin:0 auto;
}
h3{
  font-size:44px;
  text-align: center;
  margin: 0 0 40px 0;
}
h4{
  font-size:23px;
  text-align: center;
  }
  .text-center{
    text-align:center;
  }
  header{
    padding:18px 0 0 23px;
  }
  .logo,
  .links{
    display:inline-block;
    width: 466px;
  }
  .links{
    text-align: right;
  }
  .links ul{
    margin:0;
    padding:0;
  }
  .links ul li{
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    margin-left: 20px;
  }
  .email-block{
    background-color: #FAC960;
  }
  .get-text{
    color: #8A6D2F;
    font-size: 44px;
    font-weight: normal;
    margin:0;
    padding-top: 102px;
  }
  .nomore-text{
    color:#8A6D2F;
    font-size: 43px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 40px;
  }
  .email-input{
    padding-bottom: 117px;
    padding-left: 50px;
    margin: 0px;
  }
  .email-form{
    width: 560px;
    height: 54px;
    border: none;
    padding-left:30px;
    padding-top: 5px;
    padding-bottom: 0px;
  }
  ::placeholder{
    font-size: 30px;
    text-align: left;
    color: #999999;
  
  }
  .get-button{
    padding: 17px;
    width: 238px;
    height: 54px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    border: none;
    background-color: #A8863D;
    margin: auto;
    
  }
  .unlimited-block{
    background-color: #F2F2F2;
    padding-top: 77px;
  }
  .unlim-space{
    font-size: 37px;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.56);
    
  }
  .unlorem{
  font-size: 23px;
  font-weight: 400;
 color: rgba(0, 0, 0, 0.4);
}  

.infinity{
  padding-bottom: 81px;
  margin-top: 54px;
  
}

.mobile-block{
    background-color: #FFFFFF;
    padding-top: 76px;
    padding-bottom: 20px;
  }
  .access-text{
    font-size: 37px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.56);
  }
  .mobile-text{
    font-size: 23px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
  }
  .friends-block{
    background-color: #FAC960;
    padding-top: 54px;
    padding-bottom: 107px;
  }
  .tell{
    font-size: 37px;
    font-weight: 400;
    color: #8A6D2F;
  }
  .want{
    font-size: 23px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
  }
  .greybutton{
    margin: 0 440px;
    padding-left: 30px;
    padding-right: 30px;
  }
  footer{
    background-color: #F2F2F2;
    padding-top: 81px;
    padding-bottom: 81px;
  }
  footer ul{
    margin: 24px 0 0 0;
    padding: 0;
  }
  footer ul li{
    display: inline-block;
    margin-left: 10px;